body {
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #e0ebe8;
}

.top-container {
    position: relative;
    padding-top: 150px;
}

h1 {
    color: #1e836c;
    font-size: 3rem;
    margin-top: 0;
}

h2 {
    color: #1e836c;
    font-size: 2.5rem;
}

h3 {
    color: #4ab19a;
}

p {
    color: #545454;
}

.description {
    color: #4ab19a;
}

.top-cloud {
    position: absolute;
    top: 10%;
    right: 10%;
}

.bottom-cloud {
    position: absolute;
    top: 50%;
    left: 10%;
}

.skill-row {
    width: 50%;
    margin: 50px auto;
    text-align: left;
}

.skill-row.right {
    text-align: right;
}

.profile-img {
    width: 200px;
    margin-top: 50px;
}

.computer-img {
    width: 100px;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}

.robot-img {
    width: 100px;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}

.footer-link {
    color: #4ab19a;
    font-size: 2rem;
    padding: 0 15px;
}

.footer-link:hover {
    color: #265b50;
}

.footer {
    margin-top: 50px;
    background-color: #265b50;
    height: 50px;
}

.footer-text {
    color: #e0ebe8;
    font-size: 0.9rem;
    padding-top: 15px;
}